@mixin d-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin d-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
